body {
  width: 100%;
}

#nav {
  height: 100px;  
  margin:  0 auto;
  background-color: lightgray;
}

nav {
  width: 960px;
  margin: 0 auto;
}

nav img, nav ul, nav li {
  display: inline-block;
}

nav ul, nav img {
  float: left;
}

nav ul {
  margin-top: 40px;
}

nav ul li {
  margin-right: 75px;
}


#main-text {
  width: 960px;
  margin: auto;
}

#main-images{
  width: 960px;
  margin: auto;
  margin-bottom: 30px;
  overflow: auto; 
}

#main-images img {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 27px;
  opacity: .65;
}

#main-images img:hover {
    opacity: 1.0;
}

#data {
  width: 960px;
  margin: auto;
}

#data ul {
  width: 480px;
  margin: auto;
  border: 2px solid;
}

#data ul li {
  padding-bottom: 4px;
  padding-left: 60px;
  margin: auto;
  text-align: left;
  list-style-type: none;
}

#main-images :last-child {
  margin-right: 0px;
}
footer {
  margin-top: 500px;
  width: 100%;
  height: 100px;
  background-color: lightgray;
}